.page-container {
    padding-left: 20px;
}

.section-container {
    border: 1px solid #000;
    margin-bottom: 20px;
    margin-right: 20px;
}
.section-container-last {
    border: 1px solid #000;
    margin-bottom: 50px;
    margin-right: 20px;
}

.section-header {
    background-color: #3F6FBC; /* Dark blue background */
    color: #FFFF00;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.section-content {
    padding-left: 10px;
}
.section-content ul {
    list-style-type: disc;
}

.section-content li {
    padding-bottom: 5px;
}
