.page-style {
    margin: 20px;
}

.bold {
    font-weight: bold;
  }

.italic {
    font-style: italic;
  }

  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #3F6FBC;
}