.footer-container {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 20px;
    border-top: 2px solid
}

.footer-logo {
    height: 50px;
    width: auto;
    padding-right: 10px;
}

.footer-text {
    color: black;
    font-size: 12px;
}